{% load static %}
{% load bootstrap4 %}
{% load i18n %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% trans "Inventory Manager" %}{% if title %} - {{ title }}{% endif %}</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
      th .material-icons,
      .navbar-brand .material-icons {
          vertical-align: -5px;
          margin-right: 5px;
      }
      
      .btn .material-icons {
          vertical-align: -5px
      }

      .va-5 {
          vertical-align: -5px;
      }

      th {
          white-space: nowrap;
      }

      [data-node-id] {
          cursor: pointer;
      }

      .w-24 {
          width: 24px;
      }
    </style>
    <script>
      $(function () {
          $('[data-toggle="tooltip"]').tooltip()

          $(".expanded").each(function() {
              let nodeid = this.getAttribute('data-node-id')
              if ($('[data-child-of="' + nodeid + '"]').length == 0) {
                  $(this).html("")
                      .removeClass("material-icons va-5 expanded")
                      .addClass("d-inline-block w-24")
              }
              
          })
          
          $('[data-node-id]').click(function() {
              let $this = $(this)
              $this.html($this.hasClass("expanded")?"keyboard_arrow_right":"keyboard_arrow_down")
              $this.toggleClass("expanded")
              let nodeid = this.getAttribute('data-node-id')
              $('[data-child-of="' + nodeid + '"]').toggle()
              $('[data-child-of="' + nodeid + '"] .expanded').trigger("click")
          })
      })
    </script>
  </head>
  <body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'inventory:index' %}">
        <span class="material-icons">archive</span>
        {% trans "Inventory Manager" %}
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item{% if request.resolver_match.url_name == 'index' %} active{% endif %}">
            <a class="nav-link" href="{% url 'inventory:index' %}">{% trans "Home" %}<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown{% if 'location' in request.path and 'new' not in request.path %} active{% endif %}">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% trans "Locations" %}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'inventory:locations' %}">{% trans "All Locations" %}</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'inventory:locationfind' %}">{% trans "Find location" %}</a>
              <a class="dropdown-item" href="{% url 'inventory:locationfindfreeslot' %}">{% trans "Find free slot" %}</a>
            </div>
          </li>
          <li class="nav-item{% if 'categor' in request.path and 'new' not in request.path %} active{% endif %}">
            <a class="nav-link" href="{% url 'inventory:categories' %}">{% trans "Categories" %}</a>
          </li>
          <li class="nav-item dropdown{% if 'new' in request.path %} active{% endif %}">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% trans "New" %}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item{% if request.resolver_match.url_name == 'locationnewitem' %} active{% endif %}" href="{% url 'inventory:locationnewitem' 1 %}">{% trans "New Item" %}</a>
              <a class="dropdown-item{% if request.resolver_match.url_name == 'locationnew' %} active{% endif %}" href="{% url 'inventory:locationnew' 1 %}">{% trans "New Location" %}</a>
              <a class="dropdown-item{% if request.resolver_match.url_name == 'categorynew' %} active{% endif %}" href="{% url 'inventory:categorynew' 1 %}">{% trans "New Category" %}</a>
            </div>
          </li>
          <li class="nav-item{% if request.resolver_match.url_name == 'trash' %} active{% endif %}">
            <a class="nav-link" href="{% url 'inventory:trash' %}">{% trans "Trash" %}</a>
          </li>
        </ul>
        <form class="form-inline" action="{% url 'inventory:search' %}" method="get">
          {#% csrf_token %#}
          <div class="form-group">
            <input class="form-control mr-sm-2 my-2 my-md-0" type="search" placeholder="{% trans "Search" %}" aria-label="Search" name="q" value="{{ search_term|default:"" }}">
            <input type="hidden" name="type" value="item">
            <button class="btn btn-primary my-2 my-sm-0 material-icons mr-sm-2" type="submit">search</button>
          </div>
        </form>
        {% if request.user.is_authenticated %}
        <span class="text-white-50 mr-sm-2">
          {% trans 'Hi, ' %} <a class="text-white-50 font-weight-bold" href="{% url 'inventory:profile' %}">{{ request.user.first_name }}</a>
        </span>
        <a href="{% url 'inventory:logout' %}?next=/" class="btn btn-primary my-2 my-md-0 text-nowrap">
          <span class="material-icons">lock</span>Logout
        </a>
        {% else %}
        <a href="{% url 'inventory:login' %}" class="btn btn-primary my-2 my-md-0">
          <span class="material-icons">lock_open</span>Login
        </a>
        {% endif %}
      </div>
    </nav>
    <main class="" role="main">
      {% block before_content %}
      {% endblock %}
      <div class="container mt-5">
        {% block content %}
        {% endblock %}
      </div>
    </main>
    <div class="container">
      <hr>
    </div>
    <footer class="container">
      <p>{% trans "Inventory Manager" %} v1.0{% if request.user.is_authenticated %} - <a href="{% url 'inventory:profile' %}">{% trans "Account" %}</a>{% endif %}</p>
    </footer>
  </body>
</html>
