{% load i18n %}
{% if category.state == 'd' %}
<a href="{% url 'inventory:categoryedit' category.pk %}" class="btn btn-sm btn-outline-primary material-icons"
   data-toggle="tooltip" data-placement="bottom" title="{% trans 'Edit' %}">
  edit
</a>
<a href="{% url 'inventory:categorytrash' category.pk %}" class="btn btn-sm btn-outline-danger material-icons"
   data-toggle="tooltip" data-placement="bottom" title="{% trans 'Trash' %}">
  delete
</a>
{% else %}
<a href="{% url 'inventory:categoryuntrash' category.pk %}" class="btn btn-outline-secondary btn-sm"
   data-toggle="tooltip" data-placement="bottom" title="{% trans 'Restore' %}">
  <span class="material-icons">restore_from_trash</span>
</a>
<a href="{% url 'inventory:categorydelete' category.pk %}?next={{ next }}" class="btn btn-outline-danger btn-sm"
   data-toggle="tooltip" data-placement="bottom" title="{% trans 'Delete forever' %}">
  <span class="material-icons">delete_forever</span>
</a>
{% endif %}
