{% load mptt_tags %}
{% load i18n %}
{% if location_list %}
<div class="table-responsive">
  <table class="table table-hover">
    <tr>
      <th><span class="material-icons">label</span>{% trans 'Name' %}</th>
      <th><span class="material-icons">description</span>{% trans 'Description' %}</th>
      <th><span class="material-icons">space_bar</span>{% trans 'Free Space' %}</th>
      <th><span class="material-icons">bar_chart</span>{% trans 'Items' %}</th>
    </tr>
    {% recursetree location_list %}
    <tr class="text-nowrap" data-child-of="{{ node.parent.pk }}">
      <td>
        {% for asdf in ""|ljust:node.level %}
        <div class="d-inline-block mr-4"></div>
        {% endfor %}
        {% if not node.is_leaf_node %}
        <span class="material-icons va-5 expanded" data-node-id="{{ node.pk }}">keyboard_arrow_down</span>
        {% else %}
        <div class="d-inline-block w-24"></div>
        {% endif %}
        <a href="{% url 'inventory:location' node.pk %}">
          {{ node.name }}
        </a>
      </td>
      <td>{{ node.description }}</td>
      <td><span class="material-icons">{% if node.free_space %}done{% else %}remove{% endif %}</span></td>
      <td>{{ node.item_set.all | length }}</td>
    </tr>
    {% if not node.is_leaf_node %}
    {{ children }}
    {% endif %}
    {% endrecursetree %}
  </table>
</div>
{% else %}
<p>{% trans 'None' %}</p>
{% endif %}
