{% extends 'inventory/base.html' %}

{% block content %}
<script>
  function uuidv4() {
  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
    return v.toString(16);
  });
}
</script>
<h1>Edit: {{ location.name }}</h1>
<form action="{% url 'inventory:locationuuidchange' location.pk %}" method="post">
  {% csrf_token %}
  {% if form %}
  exists
  {% endif %}
  <input type="text" name='uuid' id='uuid' size="36" maxlength="36" style="font-family: monospace" />
  <input type="button" value="generate" onclick="document.getElementById('uuid').value=uuidv4()" />
  <br />
  {% if error_message %}
  <br>
  <strong class="error">{{ error_message }}</strong>
  <br>
  {% endif %}
  <br />
  <input type="button" value="Cancel" onclick="window.location='{% url 'inventory:location' location.pk %}'" /><input type="submit" value="Submit" />
</form>
{% endblock %}
