{% extends 'inventory/base.html' %}
{% load i18n %}

{% block content %}
{% load mptt_tags %}
{% if error_message %}
<p class="alert alert-danger">
  {{ error_message }}
</p>
{% endif %}
<div class="row">
  <div class="col-auto">
    <h2>{{ location.name }}</h2>
  </div>
  <div class="col-auto">
    {% include 'inventory/location_actions.html' %}
  </div>
</div>
{% include 'inventory/breadcrumbs.html' with root=location reflink='inventory:location' %}
<p></p>
<table class="table table-striped">
  <tr>
    <th><span class="material-icons">description</span>{% trans "Description" %}</th>
    <td>{{ location.description }}</td>
  </tr>
  <tr>
    <th><span class="material-icons">space_bar</span>{% trans "Free space" %}</th>
    <td><span class="material-icons">
    {% if location.free_space %}
    done
    {% else %}
    clear
    {% endif %}
    </span></td>
  </tr>
  <tr>
    <th><span class="material-icons">search</span>{% trans "UUID" %}</th>
    <td>
      {% if location.uuid %}
      {# location.uuid #}
      <a href="{% url 'inventory:locationedituuid' location.pk %}">{% trans "Edit" %}</a>
      {% else %}
      <a href="{% url 'inventory:locationedituuid' location.pk %}">{% trans "Add" %}</a>
      {% endif %}
    </td>
  </tr>
  {% if location.uuid %}
  <tr>
    <th><span class="material-icons">camera_alt</span>{% trans "Barcode" %}</th>
    <td>
      {% include 'inventory/location_barcode.html' %}
    </td>
  </tr>
  {% endif %}
</table>
<div class="row">
  <div class="col-auto">
    <h2>{% trans "Items" %}</h2>
  </div>
  <div class="col-auto">
    <a href="{% url 'inventory:locationnewitem' location.pk %}" class="btn btn-sm btn-outline-primary material-icons" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Add' %}">add</a>
  </div>
</div>
{% include 'inventory/item_list.html' with list=item_list next='location' %}
<div class="row">
  <div class="col-auto">
    <h2>{% trans "Sublocations" %}</h2>
  </div>
  <div class="col-auto">
    <a href="{% url 'inventory:locationnew' location.pk %}" class="btn btn-sm btn-outline-primary material-icons" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Add' %}">add</a>
    <a href="{% url 'inventory:locationnewmulti' location.pk %}" class="btn btn-sm btn-outline-primary material-icons" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Add multiple' %}">playlist_add</a>
  </div>
</div>
{% include 'inventory/location_list_atom.html' %}
<p></p>
{% include 'inventory/back.html' %}
{% endblock %}
