{% extends 'inventory/base.html' %}
{% load i18n %}

{% block content %}
<h1>{% trans 'Edit Location' %}</h1>
<form class="form" method="post" action="{% url 'inventory:locationedit' instance.pk %}">
  {% csrf_token %}
  {% include 'inventory/form.html' %}
  <div class="form-row">
    <div class="col-auto">
      <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
    </div>
    <div class="col-auto">
      <input type="button" class="btn" onclick="window.history.back()" value="Cancel" />
    </div>
  </div>
</form>
{% endblock %}
