{% extends 'inventory/base.html' %}

{% block content %}
<h1>Search</h1>
<form name="searchform">
  <div class="form-row">
    <div class="col-12 col-sm-12 col-lg-6">
      <div class="form-group">
        <label for="id_search_term">Search term:</label>
        <input type="text" value="{{ search_term }}" id="id_search_term" class="form-control" name="q">
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label>Filter:</label>
        <div class="form-control">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="type" id="id_item" value="item" {% if search_type == 'item' %}checked{% endif %} onchange="document.searchform.submit()">
            <label class="form-check-label" for="id_item">Items</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="type" id="id_location" value="location" {% if search_type == 'location' %}checked{% endif %} onchange="document.searchform.submit()">
            <label class="form-check-label" for="id_location">Location</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="type" id="id_category" value="category"  {% if search_type == 'category' %}checked{% endif %} onchange="document.searchform.submit()">
            <label class="form-check-label" for="id_category">Categories</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <input type="submit" value="Search" class="btn btn-primary">
  </div>
</form>
{% if error_message %}
<div class="alert alert-warning">{{ error_message }}</div>
{% else %}
<hr>
<h2>Results</h2>
{% if search_type == 'item' %}
{% include 'inventory/item_list.html' with list=page_obj %}
{% elif search_type == 'location' %}
{% include 'inventory/location_list_atom.html' with location_list=page_obj %}
{% elif search_type == 'category' %}
{% include 'inventory/category_list_atom.html' with category_list=page_obj %}
{% endif %}
<br>
{% include 'inventory/search_pagination.html' %}
{% endif %}
{% endblock %}
