{% extends 'inventory/base.html' %}
{% load i18n %}

{% block content %}
<h1>{% trans 'Account Detail' %}</h1>
<table class="table">
  <tr>
    <th>{% trans 'Username' %}</th>
    <td>{{ user.username }}</td>
  </tr>
  <tr>
    <th>{% trans 'Name' %}</th>
    <td>{{ user.first_name}} {{ user.last_name }}</td>
  <tr>
    <th>{% trans 'E-Mail' %}</th>
    <td>{{ user.email }}</td>
  </tr>
  <tr>
    <th>{% trans 'Password' %}</th>
    <td>******** <a href="{% url 'inventory:password_change' %}">{% trans 'Change' %}</a></td>
  </tr>
</table>
{% endblock %}
