{% extends 'inventory/base.html' %}

{% block content %}

<h1>Login</h1>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'inventory:login' %}">
  {% csrf_token %}
  {% include 'inventory/form.html' %}
  <div class="form-group">
    <input class="btn btn-primary" type="submit" value="Login">
  </div>
  <input type="hidden" name="next" value="{{ next }}">
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="">Lost password?</a></p>

{% endblock %}
